<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>de.variationenzumthema.internet.servlets.SimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/simpleservlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>StocksServlet</servlet-name>
        <servlet-class>de.variationenzumthema.internet.stocks.StocksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StocksServlet</servlet-name>
        <url-pattern>/stocks</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>de.variationenzumthema.internet.service</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>IPBlockingFilter</filter-name>
        <filter-class>de.variationenzumthema.internet.ipblockingfilter.IPBlockingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IPBlockingFilter</filter-name>
        <url-pattern>/ipblocking/*</url-pattern>
    </filter-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
